@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Short example to show an implementation of the ImageThumbnailCreator.Core NuGet package.</p>
    <p>Razor Page example tutorial can be found at <a href="https://www.learnrazorpages.com/razor-pages/forms/file-upload" target="_blank">https://www.learnrazorpages.com/razor-pages/forms/file-upload</a></p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>
</div>
